.alert-enter {
 transform: translateX(100%);
}
.alert-enter-active {
 transform: translateX(0);
 transition: all 1s ease;
}
.back-enter {
 opacity: 0;
}
.back-enter-active {
 opacity: 0.5;
 transition: all 3s ease;
}
