@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.left-enter {
 position: absolute;
 transform: translateX(100%);
}
.left-enter-active {
 position: absolute;
 transform: translateX(-50%);
 transition: transform 300ms ease-in-out;
}
.left-exit {
 position: absolute;
 transform: translateX(0%);
}
.left-exit-active {
 position: absolute;
 opacity: 0;
 transform: translateX(-150%);
 transition: transform 300ms ease-in-out;
}

.right-enter {
 position: absolute;
 transform: translateX(-150%);
}
.right-enter-active {
 position: absolute;
 transform: translateX(-50%);
 transition: transform 300ms ease-in-out;
}
.right-exit {
 position: absolute;
 transform: translateX(0%);
}
.right-exit-active {
 position: absolute;
 opacity: 0;
 transform: translateX(0%);
 transition: transform 300ms ease-in-out;
}
